body {
	background-color: white;
}

h2 {
	font-family: verdena, arial, Arial, Helvetica, sans-serif;
	font-size: 20pt;
	color: pink;
	text-shadow: brack 0.1em 0.1em 0.2em;
	padding: 100px;
}

h1 {
	font-family: verdena, arial, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #faa44;
}

p {
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	text-align: justify;
}

section article {
	position: absolute;
	top: 250px;
	left: 100px;
	padding: 10px;
	width: 800px;
	height: 450px;
}

#logo {
	width: 100%;
	height: 110px;
	position: absolute;
	top: 0;
	left: 0px;
	padding: 4px;
	background: pink;
}

nav#menu li {
	border: 1px dashed black;
	width: 110px;
	padding: 5px;
	margin: 0px;
	list-style-type: none;
	background: #d3d3d3;
}

nav#menu ul {
	width: 110px;
	padding: 30px 0px 0px 0px;
	border: 1px none black;
	margin: 0px;
}

nav#menu {
	position: absolute;
	width: 120px;
	padding: 5px;
	border: 1px none black;
	margin: 0px;
	background: #d3d3d3;
	top: 260px;
	height: 450px;
	left: 950px;
}

nav#menu a {
	text-decoration: none;
	color: black;
}

#foto1 {
	float: left;
	margin-left: 100px;
}

#fotologo {
	margin-left: 40px;
}

#foto2 {
	float: right;
	left: 400px;
}

#conteudoRelacionado {
	text-align: left;
	border-style: dashed;
	border-width: 3px;
	border-color: black;
	-moz-border-redius: 10px;
	-webkit-border-radius: 10px;
}

#rodape {
	position: absolute;
	width: 2000px;
	top: 625px;
	left: 0px;
	padding: 5px;
}

#menuesquerda {
	position: absolute;
	width: 150px;
	height: 400px;
	top: 30px;
	padding: 5px;
	left: -100px;
}

#texto2 {
	margin-left: 100px;
}